<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a href="https://deepakshankar.com"><i class="fas fa-home fa-2x"></i></a>
    <span class="header-spacer"></span>
    <a routerLink="/"><span class="title">Poems</span></a>
    <span class="header-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <i class="fas fa-bars fa-2x"></i>
    </button>
    <mat-menu #menu="matMenu">
      <app-list></app-list>
    </mat-menu>
  </mat-toolbar-row>
</mat-toolbar>
