<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span class="footer-spacer"></span>
    <!--<p class="copyright">copyright 2018 Deepak Ravi Shankar</p>-->
    <span class="space-icons"><a style="color: #3b5998" href="https://www.facebook.com/drspoems/" target="_blank"><i
      class="fab fa-facebook-f fa-2x"></i></a></span>
    <span class="space-icons"><a style="color: #c13584" href="https://www.instagram.com/drspoems/" target="_blank"><i
      class="fab fa-instagram fa-2x"></i></a></span>
    <span class="space-icons"><a style="color: dodgerblue" href="mailto:drspoems@gmail.com" target="_blank"><i
      class="fas fa-envelope fa-2x"></i></a></span>
    <span class="footer-spacer"></span>

  </mat-toolbar-row>
</mat-toolbar>
