<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    A Forgotten Grave
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        A forgotten grave<br>
        On a lonely road<br>
        A man lies brave<br>
        Sleeping deep underground<br>
      </p>
      <p>
        Is he still alive?<br>
        Does he still breath?<br>
        Is he dreaming of life?<br>
        While his brothers weep<br>
      </p>
      <p>
        What does he look like?<br>
        My mirror, do you know?<br>
        What did he speak like?<br>
        My voice, do you know?<br>
      </p>
      <p>
        No flowers on the grave<br>
        No footsteps to follow.<br>
        Who lies there?<br>
        No one can know<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
