.tab {
  margin-left: 2.5em
}

mat-nav-list {
  padding-left: 25%;
}

.list-item {
  color: #3b5998;
  font-size: x-large;
  font-family: 'Amatic SC', cursive;
}

.list-item-icon {
  color: #FFD740;
}
