<a mat-menu-item class="list-item" href="shadow" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Shadow</strong></span> </a>
<a mat-menu-item class="list-item" href="i-look-around" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>I Look Around</strong></span> </a>
<a mat-menu-item class="list-item" href="should-i" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Should I?</strong></span> </a>
<a mat-menu-item class="list-item" href="clock" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Clock</strong></span> </a>
<a mat-menu-item class="list-item" href="oh-brave-soldier" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Oh! Brave Soldier</strong></span> </a>
<a mat-menu-item class="list-item" href="who-am-i" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Who Am I?</strong></span> </a>
<a mat-menu-item class="list-item" href="little-boy" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Little Boy</strong></span> </a>
<a mat-menu-item class="list-item" href="the-raging-conch" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>The Raging Conch</strong></span> </a>
<a mat-menu-item class="list-item" href="life-will-go-on" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Life Will Go on</strong></span> </a>
<a mat-menu-item class="list-item" href="stay-awake-with-me" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Stay Awake With Me</strong></span> </a>
<a mat-menu-item class="list-item" href="silence" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>Silence</strong></span> </a>
<a mat-menu-item class="list-item" href="i-am-coming-home" > <i class="fas fa-feather-alt list-item-icon"></i><span class="tab"><strong>I Am Coming Home</strong></span> </a>
