<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    I Look Around
  </span>
  <span class="spacer"></span>
</div>
<div class="row box">
  <div class="col-sm-6">
    <div class="poem">
      <p>
        Where do I look?<br>
        What should I feel?<br>
        I look around<br>
        And there’s nothing to hide<br>
      </p>
      <p>
        How long it’s been?<br>
        How old are we?<br>
        I look around<br>
        And everything’s changed<br>
      </p>
      <p>
        What should I tell?<br>
        How should I feel?<br>
        I look around<br>
        And nothing feels real<br>
      </p>
      <p>
        Where should I go?<br>
        Where should we meet?<br>
        I look around<br>
        And there’s no one to greet<br>
      </p>
    </div>
  </div>
  <div class="col-sm-6 box">
    <div id="disqus_thread"></div>
  </div>
</div>
