<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Oh, Brave Soldier
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Fight the war oh brave soldier<br>
        Risen from the ashes of failure<br>
        Fight my battles oh brave soldier<br>
        For you are the light to kill my darkness<br>
      </p>
      <p>
        Loved, lost and forgotten<br>
        There is a treasure hidden away<br>
        Claimed, fought and lost<br>
        There is a map locked away<br>
      </p>
      <p>
        Bring in the guns.<br>
        Bring those nasty grenades<br>
        break this wall that holds my treasure<br>
        break these constructs that holds me here<br>
      </p>
      <p>
        Oh soldier – a faint voice in my head<br>
        Fight one last time. Fight through the noise<br>
        Save me from myself<br>
        Bring me to light from all this darkness<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
