<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Silence
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Silence all the speech and talk<br>
        Silence all the love you stock<br>
        Silence while the world listens<br>
        But do this in silence<br>
      </p>
      <p>
        Silence such a silent thing<br>
        Silence does not have a ring<br>
        Silence when you need to talk<br>
        But do this in silence<br>
      </p>
      <p>
        Silence when the tears speak<br>
        Silence letting no one speak<br>
        Silence when the sky falls down<br>
        But do this in silence<br>
      </p>
      <p>
        Silence like a whisper, spreads<br>
        Silence tearing all the threads<br>
        Silence killing you inside<br>
        But does this in silence<br>
      </p>
      <p>
        Silence killing everyone<br>
        Silence caring for no one<br>
        Silence always keeps its words<br>
        But does this in silence<br>
      </p>
      <p>
        Silence while you break apart<br>
        Silence when the violence start<br>
        Silence your breaking heart<br>
        But do this in silence<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
