<!--<div class="share-button-row">
  &lt;!&ndash; facebook &ndash;&gt;
  <button mat-fab><i class="fab fa-facebook-f fa-2x"></i></button>
  &lt;!&ndash; facebook &ndash;&gt;
  <button mat-fab style="color: #00acee"><i class="fab fa-twitter fa-2x"></i></button>
  &lt;!&ndash; facebook &ndash;&gt;
  <button mat-fab style="color: #c8232c"><i class="fab fa-pinterest-p fa-2x"></i></button>
  &lt;!&ndash; facebook &ndash;&gt;
  <button mat-fab style="color: #25D366"><i class="fab fa-whatsapp fa-2x"></i></button>
</div>-->

<button mat-fab id="share"><i class="fab fa-whatsapp fa-2x"></i></button>
