<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Little Boy
  </span>
  <span class="spacer"></span>
</div>
<div class="row box">
  <div class="col-sm-6">
    <div class="poem">
      <p>
        A tiny little boy<br>
        With an innocent smile<br>
        Walks with joy<br>
        On a bone filled aisle<br>
      </p>
      <p>
        The boy lies still<br>
        Very safely underground<br>
        Don’t move. Hold still<br>
        Let his demon come around<br>
      </p>
      <p>
        His eyes are open<br>
        Close it please<br>
        He sees no weapon<br>
        But his breath will cease<br>
      </p>
      <p>
        Ancient Gods beyond the hill<br>
        Show no mercy – not their will<br>
        The little boy is hungry<br>
        Kill him please<br>
      </p>
      <p>
        The gods are singing<br>
        The devils are the choir<br>
        Make no mistake<br>
        The worlds on fire<br>
      </p>
      <p>
        Little boy with little voice<br>
        Where did you go?<br>
        You have no choice<br>
        Your casket will glow<br>
      </p>
    </div>
  </div>
  <div class="col-sm-6 box">
    <div id="disqus_thread"></div>
  </div>
</div>
