<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Unknown and Untold
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        The days are not bright enough<br>
        For words to travel afar<br>
        But the words, seem all sold<br>
        From sources that never told<br>
      </p>
      <p>
        Silent whispers speak aloud<br>
        It’s now in the midst of crowd<br>
        Lay the carpets. Paint the roads<br>
        Darling lie visits the town<br>
      </p>
      <p>
        He told she. She told he<br>
        Who? We’ll never know<br>
        Unbeknownst, a silent he<br>
        Buried in deep black snow<br>
      </p>
      <p>
        Hear the truth. Hear you all<br>
        The truth that never spoke<br>
        Hear me speak. Hear me now<br>
        The wrecked silence broke<br>
      </p>
      <p>
        Crimson red, freely spread<br>
        Painted the roads of town<br>
        He went blind on his own<br>
        In darkness, he lay unknown<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <div id="disqus_thread"></div>
  </div>
</div>
