<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Stay Awake with Me
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Stay awake with me<br>
        All the night<br>
        Let’s watch the twinkling stars<br>
        All the night<br>
      </p>
      <p>
        I’ve been looking everywhere<br>
        Somewhere between here and there<br>
        Show me again how we shook<br>
        Coz, I don’t know where to look<br>
      </p>
      <p>
        Stay awake with me<br>
        One more time<br>
        Let’s talk before giving up<br>
        One more time<br>
      </p>
      <p>
        Waterfalls and high mountains<br>
        A story untold, that it still contains<br>
        Let’s hear it again one last time<br>
        Before we fall asleep<br>
      </p>
      <p>
        Stay awake with me<br>
        One last time<br>
        Let’s sing our favorite song<br>
        One last time<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <div id="disqus_thread"></div>
  </div>
</div>
