<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    New Hope
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        I am leaving early<br>
        My day has begun<br>
        My dreams are awaking<br>
        In the break of new dawn<br>
      </p>
      <p>
        I am going hunting<br>
        My ride waits alone<br>
        My journey is starting<br>
        In the paths of broken roads<br>
      </p>
      <p>
        I am not resting<br>
        My job isn’t done<br>
        My legs are hurting<br>
        In the pain of broken bones<br>
      </p>
      <p>
        I am not returning<br>
        My shadow, go home<br>
        My exile, my freedom<br>
        In the quest of new hope<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
