<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Should I?
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        The winds, the leaves, the rain<br>
        Oh, the calling of life<br>
        A light that transpired<br>
        A beautiful loving sight<br>
      </p>
      <p>
        How does it feel?<br>
        How blessed it is<br>
        A lifesaving hug<br>
        Of an unknown spirit<br>
      </p>
      <p>
        Should I embrace it?<br>
        Or should I hold?<br>
        Should I stand back<br>
        And watch the marigold?<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <div id="disqus_thread"></div>
  </div>
</div>
