<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Clock
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        My ticking clock<br>
        So fast and swift.<br>
        Doesn’t much talk<br>
        In a silent drift<br>
      </p>
      <p>
        Two hands to hold<br>
        Always running away<br>
        A story once told<br>
        Silently withering away<br>
      </p>
      <p>
        Oh, clock still ticking<br>
        For once, stand still<br>
        The hands are aching<br>
        And letting memories spill<br>
      </p>
      <p>
        Oh, mighty clock<br>
        Whose prisoner my time<br>
        There’s no door to knock<br>
        Only judgement, no crime<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<!--<div>
  <span class="spacer"></span>
  <app-share></app-share>
  <span class="spacer"></span>
</div>-->
<div class="row box">
  <div class="col box">
    <disqus [identifier]="disqus_Id"></disqus>
  </div>
</div>
