<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Who Am I?
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Who am I?<br>
        Who shall tell?<br>
        In this hell<br>
        Where devils dwell<br>
      </p>
      <p>
        Am I what you see?<br>
        Am I what you speak?<br>
        Am I all the lies,<br>
        The world chose to see?<br>
      </p>
      <p>
        Am I not free?<br>
        Am I bound to thee?<br>
        Am I still waiting,<br>
        For orders from your majesty?<br>
      </p>
      <p>
        Dear devil – a castaway knight<br>
        A visitor on a moonless night<br>
        A truth no one sees<br>
        A truth no one speaks<br>
      </p>
      <p>
        Tell me, what you see.<br>
        Tell me who you see.<br>
        Tell me who I am<br>
        Before you set me free.<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
