<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Ghost
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Sometimes I see a ghost<br>
        Creeping behind me<br>
        Still still and waiting<br>
        Scheming behind me<br>
      </p>
      <p>
        A ghost - my forgotten<br>
        I know where you stand<br>
        I stood too, unknown<br>
        my shadow, strangely behind<br>
      </p>
      <p>
        A time dare once spoke<br>
        Brave brave and aloud<br>
        Tick tock and minutes fell<br>
        Like dominoes of memories old<br>
      </p>
      <p>
        Chime in winds, ringing slow<br>
        A melody somewhere hidden<br>
        A ghost of time singing low<br>
        A carol somewhere ridden<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
