<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Shadow
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        In the shadow lay my dreams<br>
        My eyes, my heart wants to see.<br>
        Chasing down that shadows path,<br>
        I do not know what I see.<br>
      </p>
      <p>
        There is a light above me<br>
        Its colors so bright and vibrant.<br>
        Yet the shadow that I see,<br>
        Seems dark and follows me.<br>
      </p>
      <p>
        The music, the dance, the rhythm<br>
        Oh, so beautiful things!<br>
        Yet the shadow that follows me,<br>
        Seem to hide behind me.<br>
      </p>
      <p>
        How should I know my dreams?<br>
        How does it know me?<br>
        I do not know what I dream<br>
        I will just wait for it to see me.<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
