<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    I've Lost My Voice
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <p>
        A scream in silence<br>
        Not always heard<br>
        A mumbling shyness<br>
        Lost of words<br>
      </p>
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <p>
        A noise in the background<br>
        Jitter of a voice<br>
        A spirit that drowned<br>
        Not by choice<br>
      </p>
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <p>
        The laughs, the cries<br>
        The voice once said<br>
        A blanket of lies<br>
        Filled with dread<br>
      </p>
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <p>
        The songs it sang<br>
        On a note so high<br>
        The words that rang<br>
        In the rainbow sky<br>
      </p>
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <p>
        My voice, speak again<br>
        Speak for no one but you<br>
        In rains, sing again<br>
        Don’t think listens who<br>
      </p>
      <p>
        I’ve lost my voice<br>
        Have you heard it?<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
