<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    Life Will Go On
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        Life will go on<br>
        Everyone moves on<br>
        In the test of time,<br>
        You too shall go on<br>
      </p>
      <p>
        Leather boots and bowtie<br>
        Dressed fair to tell a lie<br>
        Extraordinarily pleased<br>
        Wonderfully deceived<br>
      </p>
      <p>
        Centerpiece with flower vase<br>
        Chandelier lights the maze<br>
        Anointed holds the free<br>
        Officiated with a decree<br>
      </p>
      <p>
        Testaments behold<br>
        A truth never told<br>
        Laws and prejudice<br>
        Of unknown origins<br>
      </p>
      <p>
        Yet, life will go on<br>
        Everyone moves on<br>
        In the test of time,<br>
        You too shall go on<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class=""row box>
  <div class="col box">
    <div id="disqus_thread"></div>
  </div>
</div>
