<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    I am Coming Home
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        I am coming home now<br>
        I am up from my grave<br>
        Don’t be afraid now<br>
        ‘Cause I am not the same<br>
      </p>
      <p>
        The vultures are talking<br>
        While the crows are away<br>
        The shadows are hiding<br>
        Please don’t run away<br>
      </p>
      <p>
        Dear, dear, I see your fears<br>
        I promise not to pry<br>
        In reflections, I see your tears<br>
        I don’t know why you cry<br>
      </p>
      <p>
        I am going back now<br>
        Going back to my grave<br>
        Your sun shall rise now<br>
        Please be happy and be brave<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <disqus [identifier]=disqus_id></disqus>
  </div>
</div>
