<div class="row box">
  <div class="col-sm-6 box">
    <mat-card class="example-card bg">
      <mat-card-header>
        <mat-card-title>Emily Dickinson</mat-card-title>
        <mat-card-subtitle>December 10, 1830 - May 15, 1886</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image
           src="https://upload.wikimedia.org/wikipedia/commons/5/56/Black-white_photograph_of_Emily_Dickinson2.png"
           alt="Photo of Emily Dickenson">
      <mat-card-content>
        <p>
          Emily Dickinson is one of America’s greatest and most original poets of all time. She took definition as her
          province and challenged the existing definitions of poetry and the poet’s work.<br> - <a
          href="https://www.poetryfoundation.org/poets/emily-dickinson">Poetry Foundation</a>
        </p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="col-sm-6">
    <div class="col">
    <span style="color: #FFD740">
      <i class="fas fa-quote-left fa-6x"></i>
    </span>
    </div>
    <div class="poem col">
      <p>
        I felt a Funeral, in my Brain,<br>
        And Mourners to and fro<br>
        Kept treading - treading - till it seemed<br>
        That Sense was breaking through -<br>
      </p>
      <p>
        And when they all were seated,<br>
        A Service, like a Drum -<br>
        Kept beating - beating - till I thought<br>
        My mind was going numb -<br>
      </p>
      <p>
        And then I heard them lift a Box<br>
        And creak across my Soul<br>
        With those same Boots of Lead, again,<br>
        Then Space - began to toll,<br>
      </p>
      <p>
        As all the Heavens were a Bell,<br>
        And Being, but an Ear,<br>
        And I, and Silence, some strange Race,<br>
        Wrecked, solitary, here -<br>
      </p>
      <p>
        And then a Plank in Reason, broke,<br>
        And I dropped down, and down -<br>
        And hit a World, at every plunge,<br>
        And Finished knowing - then -<br>
      </p>
    </div>
  </div>
  <div class="row">
    <blockquote class="blockquote text-center">
      <p class="mb-0">I felt a Funeral, in my Brain</p>
      <footer class="blockquote-footer">Source: <cite title="Source Title">The Poems of Emily Dickinson: Variorum Edition (Harvard University Press, 1983) </cite></footer>
    </blockquote>
  </div>
</div>
