.box {
  padding-top: 3%;
  padding-bottom: 3%;
}

.poem {
  font-family: 'Dancing Script';
  font-size: larger;
  color: #3b5998;
}

.example-card {
  max-width: 350px;
  color: #3b5998;
}

blockquote {
  text-align: center;
  color: #3b5998;
}

.bg {
  background-color: #E8EAF6;
}
