<div class="row box poem-title">
  <span class="spacer"></span>
  <span>
    The Raging Conch
  </span>
  <span class="spacer"></span>
</div>
<mat-divider></mat-divider>
<div class="row box">
  <div class="col">
    <div class="poem">
      <p>
        The voices in my head<br>
        Screaming inside<br>
        A curse to fathom<br>
        While no one beside<br>
      </p>
      <p>
        Don’t label me<br>
        Don’t name me<br>
        I am nobody<br>
        Nobody knows me<br>
      </p>
      <p>
        Disrespect and dismay<br>
        True cultural heritage<br>
        A word if I may<br>
        My song my stage<br>
      </p>
      <p>
        Dark spells, land mines<br>
        And the land of ecstasy<br>
        Dragons breath fire<br>
        And cleanse my agony<br>
      </p>
      <p>
        Few words not more<br>
        Don’t scare me anymore<br>
        Wild sky winds roar<br>
        The sun doesn’t rise anymore<br>
      </p>
      <img style="width: 200px; height: auto" align="middle" src="../../../assets/signature.svg">
    </div>
  </div>
</div>
<div class="row box">
  <div class="col box">
    <div id="disqus_thread"></div>
  </div>
</div>
